body{
    background-image: linear-gradient(to right, rgb(156, 223, 223), rgb(4, 107, 107));
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    display: block;
    color:rgb(241, 139, 4);
    width:100vh;
    height:100vh;

}
.container{
    display: contents;
    padding: 10px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin: 15px;

}
div.box{
    justify-content: space-between;
}
.container button{
    background-color: rgb(50, 102, 145);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size:small;
    font-style: italic;
    font-stretch: ultra-condensed;
    color: cornsilk;
    border: none;
    cursor: pointer;
}
body button :hover{
    background-color: rgb(30, 11, 100);
}
#list li{
    width: 500px;
    height:100px;
    background-color: rgba(28, 41, 44, 0.089);
    border-radius: 10px;
    margin-bottom: 10px;
    align-self: center;
    color: black;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
}